	--main-link-color: #2271b1;
	

		&.is-link {
			color: var(--main-link-color);
		}
					margin-right: 8px;

					&:hover {
						span {
							color: #282828;
						}
						border-bottom: 3px solid #e5e5e5;
					}
						border-bottom: 3px solid #1E7DB2;
							border-left: 3px solid #1E7DB2;
						background: #E8E8E8;
			.components-panel__body-toggle {
				&:hover {
					background: #E8E8E8;
				}
			}

					border-color: var(--main-link-color);
					box-shadow: 0 0 0 1px var(--main-link-color);
									color: var(--main-link-color);
									box-shadow: inset 0 0 0 1px var(--main-link-color);

									&:focus {
										box-shadow: inset 0 0 0 1.5px var(--main-link-color);
									}
						color: var(--main-link-color);
						box-shadow: inset 0 0 0 1px var(--main-link-color);

						&:focus {
							box-shadow: inset 0 0 0 1.5px var(--main-link-color);
						}

	.components-form-toggle.is-checked .components-form-toggle__track {
		background-color: var(--main-link-color);
	}

	#o-feedback {
		box-shadow: inset 0 0 0 1px var(--main-link-color);
    	color: var(--main-link-color);

		&:focus {
			box-shadow: inset 0 0 0 1.5px var(--main-link-color);
		}
	}

	:is(.components-textarea-control__input, .components-text-control__input):focus {
		border-color: var(--main-link-color);
		box-shadow: 0 0 0 1px var(--main-link-color);
	}